@using EntityLayer.Concrete
@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@{
    string color = "";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Tür</th>
                            <th>Sil</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status == "Eğitim Sonu")
                            {
                                color = "preview-icon bg-success";
                            }
                            if (item.Status == "Revize")
                            {
                                color = "preview-icon bg-warning";
                            }
                            if (item.Status == "Paylaşım")
                            {
                                color = "preview-icon bg-info";
                            }
                            if (item.Status == "Workshop")
                            {
                                color = "preview-icon bg-dark";
                            }
                            if (item.Status == "Bootcamp")
                            {
                                color = "preview-icon bg-danger";
                            }
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Title</td>
                                <td>@(((DateTime)item.Date).ToString("dd MMM yyyy"))</td>
                                <td><label class="@color">@item.Status</label></td>
                                <td><a href="/Announcement/DeleteAnnouncement/@item.ID" class="badge badge-danger text-dark" onclick="return confirm('Gerçekten Silmek İstiyor musunuz?')">Sil</a> </td>
                                <td><a href="/Announcement/EditAnnouncement/@item.ID" class="badge badge-light text-dark">Detaylar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Announcement/AddAnnouncement/" class="btn btn-info">Yeni Duyuru Ekle</a>
            </div>
        </div>
    </div>
</div>